In [3]:
import pandas as pd
import numpy as np

# Acceso a Internet por Banda Ancha y Banda Fija, Total

In [723]:
df_internet_baf_total = pd.read_csv('Datasets\Internet_BAF_total.csv')

In [724]:
df_internet_baf_total.head(3)

    Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0  2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022
1  2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
2  2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022

In [725]:
df_internet_baf_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     object
 3   Dial up           35 non-null     float64
 4   Total             35 non-null     object
 5   Periodo           35 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.8+ KB

### Cambiamos el formato de la columna "Banda ancha fija" de object a int

In [726]:
df_internet_baf_total['Banda ancha fija'] = df_internet_baf_total['Banda ancha fija'].str.replace(".", "")
df_internet_baf_total['Banda ancha fija'] = df_internet_baf_total['Banda ancha fija'].astype(int)

In [727]:
df_internet_baf_total['Banda ancha fija'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 35 entries, 0 to 34
Series name: Banda ancha fija
Non-Null Count  Dtype
--------------  -----
35 non-null     int32
dtypes: int32(1)
memory usage: 268.0 bytes

### Cambiamos el formato de la columna "Dial up" de float a int

In [728]:
df_internet_baf_total['Dial up'] = df_internet_baf_total['Dial up'].astype(str)
df_internet_baf_total['Dial up'] = df_internet_baf_total['Dial up'].str.replace(".", "")
df_internet_baf_total['Dial up'] = df_internet_baf_total['Dial up'].astype(int)

In [729]:
df_internet_baf_total['Dial up'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 35 entries, 0 to 34
Series name: Dial up
Non-Null Count  Dtype
--------------  -----
35 non-null     int32
dtypes: int32(1)
memory usage: 268.0 bytes

### Cambiamos el formato de la columna "Total" de object a int

In [730]:
df_internet_baf_total['Total'] = df_internet_baf_total['Total'].str.replace(".", "")
df_internet_baf_total['Total'] = df_internet_baf_total['Total'].astype(int)

In [731]:
df_internet_baf_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     int32
 3   Dial up           35 non-null     int32
 4   Total             35 non-null     int32
 5   Periodo           35 non-null     object
dtypes: int32(3), int64(2), object(1)
memory usage: 1.4+ KB

In [732]:
df_internet_baf_total.head(3)

    Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0  2022          3          11078691    12437  11091128  Jul-Sept 2022
1  2022          2          10946248    12436  10958684   Abr-Jun 2022
2  2022          1          10611390    12619  10624009   Ene-Mar 2022

### Guardamos los cambios en un archivo csv

In [733]:
df_internet_baf_total.to_csv('Datasets_normalizados\Internet_BAF_total.csv', index=False)

# Historico velocidad Internet

In [734]:
df_historico_velocidad = pd.read_csv('Datasets\historico_velocidad_internet.csv', decimal=',')

In [735]:
df_historico_velocidad.head(3)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          3                   62.46  Jul-Sept 2022
1  2022          2                   58.44   Abr-Jun 2022
2  2022          1                   55.11   Ene-Mar 2022

In [736]:
df_historico_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     float64
 3   Trimestre.1             35 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

### Cambiamos el nombre de la columna "Trimestre.1" por "Periodo"

In [737]:
df_historico_velocidad['Periodo'] = df_historico_velocidad['Trimestre.1']

In [738]:
df_historico_velocidad.drop(['Trimestre.1'], axis=1, inplace=True)

In [739]:
df_historico_velocidad.head(3)

    Año  Trimestre  Mbps (Media de bajada)        Periodo
0  2022          3                   62.46  Jul-Sept 2022
1  2022          2                   58.44   Abr-Jun 2022
2  2022          1                   55.11   Ene-Mar 2022

### Guardamos los cambios en un archivo csv

In [740]:
df_historico_velocidad.to_csv('Datasets_normalizados/historico_velocidad_internet.csv', index=False)

# Historico acceso a banda ancha y angosta por provincia

In [741]:
df_acc_banda_ancha_angosta_prov = pd.read_csv("Datasets\Internet_Accesos-por-velocidad.csv")

In [742]:
df_acc_banda_ancha_angosta_prov.head(4)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146

In [743]:
df_acc_banda_ancha_angosta_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    int64
 1   Trimestre            840 non-null    int64
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    float64
 4   + 512 Kbps - 1 Mbps  840 non-null    float64
 5   + 1 Mbps - 6 Mbps    840 non-null    object
 6   + 6 Mbps - 10 Mbps   840 non-null    float64
 7   + 10 Mbps - 20 Mbps  840 non-null    float64
 8   + 20 Mbps - 30 Mbps  840 non-null    float64
 9   + 30 Mbps            840 non-null    object
 10  OTROS                834 non-null    float64
 11  Total                840 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 78.9+ KB

In [744]:
df_acc_banda_ancha_angosta_prov.isnull().sum()

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  6
Total                  0
dtype: int64

### Identificamos las filas que contienen algun valor nulo

In [745]:
df_acc_banda_ancha_angosta_prov[df_acc_banda_ancha_angosta_prov.isnull().any(axis=1)]

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
313,2019,2,Capital Federal,74.0,1.027,281.370,124.087,239.691,296.155,475.991,NaN,1.418.395
323,2019,2,La Rioja,9.0,11.000,39.819,4.297,4.857,13.000,1.298,NaN,50.304
324,2019,2,Mendoza,20.0,2.522,205.165,2.971,10.092,1.256,234,NaN,222.260
331,2019,2,Santa Cruz,25.0,84.000,24.861,3.806,1.202,28.000,4,NaN,30.010
334,2019,2,Tierra Del Fuego,6.0,123.000,41.824,4.241,1.573,96.000,32,NaN,47.895
335,2019,2,Tucumán,16.0,157.000,78.891,44.296,24.291,628.000,18.394,NaN,166.673

### Cambiamos los formatos de columnas

In [746]:
#Transformamos la columna 'HASTA 512 kbps' a string para reemplazar puntos por "", para luego cambiar a formato int
df_acc_banda_ancha_angosta_prov['HASTA 512 kbps'] = df_acc_banda_ancha_angosta_prov['HASTA 512 kbps'].astype('string')
df_acc_banda_ancha_angosta_prov['HASTA 512 kbps'] = df_acc_banda_ancha_angosta_prov['HASTA 512 kbps'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['HASTA 512 kbps'] = df_acc_banda_ancha_angosta_prov['HASTA 512 kbps'].astype('int')

In [747]:
#Transformamos la columna '+ 512 Kbps - 1 Mbps' a string para reemplazar puntos por "", para luego cambiar a formato int
df_acc_banda_ancha_angosta_prov['+ 512 Kbps - 1 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 512 Kbps - 1 Mbps'].astype('string')
df_acc_banda_ancha_angosta_prov['+ 512 Kbps - 1 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 512 Kbps - 1 Mbps'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['+ 512 Kbps - 1 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 512 Kbps - 1 Mbps'].astype('int')

In [748]:
#Transformamos la columna '+ 1 Mbps - 6 Mbps' a string para reemplazar puntos por "", para luego cambiar a formato int
df_acc_banda_ancha_angosta_prov['+ 1 Mbps - 6 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 1 Mbps - 6 Mbps'].astype('string')
df_acc_banda_ancha_angosta_prov['+ 1 Mbps - 6 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 1 Mbps - 6 Mbps'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['+ 1 Mbps - 6 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 1 Mbps - 6 Mbps'].astype('int')

In [749]:
#Transformamos la columna '+ 6 Mbps - 10 Mbps' a string para reemplazar puntos por "", para luego cambiar a formato int
df_acc_banda_ancha_angosta_prov['+ 6 Mbps - 10 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 6 Mbps - 10 Mbps'].astype('string')
df_acc_banda_ancha_angosta_prov['+ 6 Mbps - 10 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 6 Mbps - 10 Mbps'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['+ 6 Mbps - 10 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 6 Mbps - 10 Mbps'].astype('int')

In [750]:
#Transformamos la columna '+ 10 Mbps - 20 Mbps' a string para reemplazar puntos por "", para luego cambiar a formato int
df_acc_banda_ancha_angosta_prov['+ 10 Mbps - 20 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 10 Mbps - 20 Mbps'].astype('string')
df_acc_banda_ancha_angosta_prov['+ 10 Mbps - 20 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 10 Mbps - 20 Mbps'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['+ 10 Mbps - 20 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 10 Mbps - 20 Mbps'].astype('int')

In [751]:
#Transformamos la columna '+ 20 Mbps - 30 Mbps' a string para reemplazar puntos por "", para luego cambiar a formato int
df_acc_banda_ancha_angosta_prov['+ 20 Mbps - 30 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 20 Mbps - 30 Mbps'].astype('string')
df_acc_banda_ancha_angosta_prov['+ 20 Mbps - 30 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 20 Mbps - 30 Mbps'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['+ 20 Mbps - 30 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 20 Mbps - 30 Mbps'].astype('int')

In [752]:
#Transformamos la columna '+ 30 Mbps' a string para reemplazar puntos por "", para luego cambiar a formato int
df_acc_banda_ancha_angosta_prov['+ 30 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 30 Mbps'].astype('string')
df_acc_banda_ancha_angosta_prov['+ 30 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 30 Mbps'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['+ 30 Mbps'] = df_acc_banda_ancha_angosta_prov['+ 30 Mbps'].astype('int')

In [753]:
#Transformamos la columna '+ 30 Mbps' a string para reemplazar puntos por "", para luego cambiar a formato float
df_acc_banda_ancha_angosta_prov['OTROS'] = df_acc_banda_ancha_angosta_prov['OTROS'].apply(lambda x: float(str(x).replace(".","")) if pd.notnull(x) else None)

In [803]:
df_acc_banda_ancha_angosta_prov.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3618689,65821.0,4721668
1,2022,3,Capital Federal,5170,5742,34371,67829,51946,28692,1253105,105477.0,1547679
2,2022,3,Catamarca,710,3840,3107,5389,5099,3737,50298,2208.0,70293
3,2022,3,Chaco,4610,9870,16782,18938,8049,15828,79390,3711.0,144146
4,2022,3,Chubut,1090,1444,45707,3094,34682,15309,17563,20024.0,165778

In [802]:
df_acc_banda_ancha_angosta_prov['Total'] = df_acc_banda_ancha_angosta_prov['Total'].astype('string')
df_acc_banda_ancha_angosta_prov['Total'] = df_acc_banda_ancha_angosta_prov['Total'].str.replace('.', '')
df_acc_banda_ancha_angosta_prov['Total'] = df_acc_banda_ancha_angosta_prov['Total'].astype('int')

### Guardamos los cambios en un archivo csv

In [755]:
df_acc_banda_ancha_angosta_prov.to_csv('Datasets_normalizados/Internet_Accesos-por-velocidad.csv', index=False)

# Penetracion de Internet fijo (accesos por cada 100 hogares)

In [756]:
df_penetracion_int_fijo_100hog = pd.read_csv('Datasets\Internet_Penetracion-por-100-hog_hab.csv', decimal=',')

In [757]:
df_penetracion_int_fijo_100hog.head(3)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,76.64,23.95,Jul-Sept 2022
1,2022,2,75.97,23.72,Abr-Jun 2022
2,2022,1,73.88,23.05,Ene-Mar 2022

In [758]:
df_penetracion_int_fijo_100hog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     float64
 3   Accesos por cada 100 hab      35 non-null     float64
 4   Periodo                       35 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.5+ KB

# Penetracion de internet fijo (accesos cada 100 hogares por provincia)

In [759]:
df_hog_x_prov = pd.read_csv('Datasets\Internet_Penetracion-por-100-hog-provincia.csv', decimal=',')

In [760]:
df_hog_x_prov.head(3)

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          3     Buenos Aires                         78.11
1  2022          3  Capital Federal                        122.28
2  2022          3        Catamarca                         65.33

In [761]:
df_hog_x_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 26.4+ KB

# Tecnologías

In [762]:
df_tecnologias = pd.read_csv('Datasets\Internet_Accesos-por-tecnologia.csv')

In [763]:
df_tecnologias.head(3)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022

In [764]:
df_tecnologias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     object
 3   Cablemodem    35 non-null     object
 4   Fibra óptica  35 non-null     object
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     object
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

### Cambiamos formatos de la columnas

In [765]:
#Transformamos las columnas Wireless y Otros a str
df_tecnologias['Wireless'] =df_tecnologias['Wireless'].astype(str) 
df_tecnologias['Otros'] = df_tecnologias['Otros'].astype(str)

In [766]:
#Transformamos las columnas a formato str para cambiar los puntos por ""
df_tecnologias['ADSL'] = df_tecnologias['ADSL'].str.replace(".", "")
df_tecnologias['Cablemodem'] = df_tecnologias['Cablemodem'].str.replace(".", "")
df_tecnologias['Fibra óptica'] = df_tecnologias['Fibra óptica'].str.replace(".", "")
df_tecnologias['Total'] = df_tecnologias['Total'].str.replace(".", "")
df_tecnologias['Wireless'] = df_tecnologias['Wireless'].str.replace(".", "")
df_tecnologias['Otros'] = df_tecnologias['Otros'].str.replace(".", "")

In [767]:
#Transformamos las columnas a formato int
df_tecnologias['ADSL'] = df_tecnologias['ADSL'].astype(int)
df_tecnologias['Cablemodem'] = df_tecnologias['Cablemodem'].astype(int)
df_tecnologias['Fibra óptica'] = df_tecnologias['Fibra óptica'].astype(int)
df_tecnologias['Total'] = df_tecnologias['Total'].astype(int)
df_tecnologias['Wireless'] = df_tecnologias['Wireless'].astype(int)
df_tecnologias['Otros'] = df_tecnologias['Otros'].astype(int)

In [768]:
df_tecnologias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     int32
 3   Cablemodem    35 non-null     int32
 4   Fibra óptica  35 non-null     int32
 5   Wireless      35 non-null     int32
 6   Otros         35 non-null     int32
 7   Total         35 non-null     int32
 8   Periodo       35 non-null     object
dtypes: int32(6), int64(2), object(1)
memory usage: 1.8+ KB

### Cargamos los datos en un archivo csv

In [769]:
df_tecnologias.to_csv('Datasets_normalizados\Internet_Accesos-por-tecnologia.csv', index=False)

### Ingresos

In [770]:
df_ingresos =pd.read_csv('Datasets\Internet_Ingresos.csv')

In [771]:
df_ingresos.head(3)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022

In [772]:
df_ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [773]:
df_ingresos['Ingresos (miles de pesos)']

0     67.055.930
1     60.335.724
2     55.589.997
3     45.467.887
4     42.999.944
5     38.239.667
6     36.676.371
7     33.539.703
8     31.997.445
9     32.102.476
10    29.946.216
11    24.169.251
12    21.652.748
13    20.743.118
14    20.207.414
15    16.637.687
16    15.410.981
17    14.319.467
18    13.171.459
19    11.226.127
20    10.065.998
21     9.678.647
22     8.701.201
23     7.483.980
24     6.912.442
25     6.534.241
26     5.936.845
27     5.376.899
28     5.153.739
29     4.701.791
30     4.876.385
31     3.950.441
32     3.478.638
33     3.270.816
34     2.984.054
Name: Ingresos (miles de pesos), dtype: object

### Cambiamos el formato de la columna Ingresos (miles de pesos) de object a int

In [774]:
#Transformamos los datos a str para reemplazar puntos por ""
df_ingresos['Ingresos (miles de pesos)'] = df_ingresos['Ingresos (miles de pesos)'].str.replace(".", "")

In [775]:
#Transformamos la columna a int
df_ingresos['Ingresos (miles de pesos)'] = df_ingresos['Ingresos (miles de pesos)'].astype(int)

### Guardamos los cambios en un archivo csv

In [776]:
df_ingresos.to_csv('Datasets_normalizados/Internet_Ingresos.csv', index=False)

# Listado de localidades con conectividad a Internet

In [777]:
df_tipo_conexion=pd.read_csv('Datasets\Listadodelocalidadesconconectividadainternet_2750221690224251927.csv')

In [778]:
df_tipo_conexion.head(5)

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--

In [779]:
df_tipo_conexion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   ADSL            4311 non-null   object
 4   Cablemódem      4311 non-null   object
 5   Dial Up         4311 non-null   object
 6   Fibra óptica    4311 non-null   object
 7   4G              4311 non-null   object
 8   3G              4311 non-null   object
 9   Telefonía Fija  4311 non-null   object
 10  Wireless        4311 non-null   object
 11  Satelital       4311 non-null   object
dtypes: object(12)
memory usage: 404.3+ KB

In [780]:
df_tipo_conexion.describe()

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
count,4311,4311,4311,4311,4311,4311,4311,4311,4311,4311,4311,4311
unique,24,444,3912,2,2,2,2,2,2,2,2,2
top,BUENOS AIRES,General Roca,San Pedro,--,--,--,--,SI,--,SI,SI,--
freq,901,84,12,3182,3448,3908,2784,2574,2431,2243,2224,3248

In [781]:
df_tipo_conexion['Provincia'].unique()

array(['BUENOS AIRES', 'MENDOZA', 'CABA', 'CATAMARCA', 'CORDOBA',
       'ENTRE RIOS', 'SALTA', 'SANTA CRUZ', 'SANTA FE', 'CHACO',
       'FORMOSA', 'MISIONES', 'SAN JUAN', 'CHUBUT', 'JUJUY', 'NEUQUEN',
       'CORRIENTES', 'RIO NEGRO', 'LA PAMPA', 'SANTIAGO DEL ESTERO',
       'TUCUMAN', 'LA RIOJA', 'SAN LUIS', 'TIERRA DEL FUEGO'],
      dtype=object)

# Historico acceso a banda ancha y angosta

In [782]:
df_acc_banda_ancha_angosta = pd.read_csv('Datasets\Internet_Accesos-por-velocidad2.csv')

In [783]:
df_acc_banda_ancha_angosta.head(5)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Unnamed: 11
0,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128,NaN
1,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684,NaN
2,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,NaN
3,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,NaN
4,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,NaN

In [784]:
df_acc_banda_ancha_angosta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      35 non-null     int64
 1   Trimestre                35 non-null     int64
 2   Hasta 512 kbps           35 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  35 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    35 non-null     object
 5   Entre 6 Mbps y 10 Mbps   35 non-null     object
 6   Entre 10 Mbps y 20 Mbps  35 non-null     object
 7   Entre 20 Mbps y 30 Mbps  35 non-null     object
 8   Más de 30 Mbps           35 non-null     object
 9   OTROS                    35 non-null     float64
 10  Total                    35 non-null     object
 11  Unnamed: 11              0 non-null      float64
dtypes: float64(4), int64(2), object(6)
memory usage: 3.4+ KB

### Eliminamos la columna Unnamed 11:

In [785]:
#Eliminamos la columna Unnamed: 11, que no tiene título ni datos
df_acc_banda_ancha_angosta.drop(columns= ["Unnamed: 11"], inplace=True)

### Guardamos los datos en un archivo csv

In [786]:
df_acc_banda_ancha_angosta.to_csv('Datasets_normalizados\Internet_Accesos-por-velocidad2.csv', index=False)

# Historico velocidad por provincia

In [798]:
df_historico_velocidad_provincia = pd.read_csv('Datasets\historico_velocidad_internet (2).csv')

In [799]:
df_historico_velocidad_provincia.head(3)

,Año,Trimestre,Provincia,Mbps (Media de bajada),Unnamed: 4,Unnamed: 5
0,2022,3,Buenos Aires,70,NaN,NaN
1,2022,3,Capital Federal,101,NaN,NaN
2,2022,3,Catamarca,61,NaN,NaN

In [800]:
df_historico_velocidad_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    int64
 1   Trimestre               840 non-null    int64
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    int64
 4   Unnamed: 4              0 non-null      float64
 5   Unnamed: 5              0 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 39.5+ KB

### Eliminamos columnas sin titulos ni informacion

In [789]:
df_historico_velocidad_provincia.drop(columns= ['Unnamed: 4', 'Unnamed: 5'], inplace=True)

In [790]:
df_historico_velocidad_provincia.head(3)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          3     Buenos Aires                      70
1  2022          3  Capital Federal                     101
2  2022          3        Catamarca                      61

### Guardamos los datos en un archivo csv

In [791]:
df_historico_velocidad_provincia.to_csv('Datasets_normalizados\historico_velocidad_internet (2).csv', index=False)

# Accesos a Internet fijo por velocidad bajada y provincia

In [792]:
internet_fijo_veloc_bajada_prov = pd.read_csv('Datasets\AccesosaInternetfijoporvelocidadbajadayprovincia.csv')

In [793]:
internet_fijo_veloc_bajada_prov.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022.0,3.0,Buenos Aires,"65,821",19,- 0,- 0,"29,774",192,"4,611",...,"3,163",- 0,"98,387",- 0,2,223,- 0,1,- 0,- 0
1,2022.0,3.0,Capital Federal,"105,477",31,- 0,- 0,451,35,"1,307",...,3,- 0,"30,482",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022.0,3.0,Catamarca,"2,208",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,3.0,Chaco,"3,711",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,3.0,Chubut,"20,024",8,- 0,- 0,69,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [794]:
internet_fijo_veloc_bajada_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         480 non-null    float64
 1   Trimestre   480 non-null    float64
 2   Provincia   480 non-null    object
 3   Otros       480 non-null    object
 4   0,256 Mbps  480 non-null    object
 5   0,375 Mbps  480 non-null    object
 6   0,625 Mbps  480 non-null    object
 7   0,5 Mbps    480 non-null    object
 8   0,512 Mbps  480 non-null    object
 9   0,75 Mbps   480 non-null    object
 10  1 Mbps      480 non-null    object
 11  1,2 Mbps    480 non-null    object
 12  1,25 Mbps   480 non-null    object
 13  1,5 Mbps    480 non-null    object
 14  2 Mbps      480 non-null    object
 15  2,2 Mbps    480 non-null    object
 16  2,5 Mbps    481 non-null    object
 17  6,7 Mbps    480 non-null    object
 18  3 Mbps      480 non-null    object
 19  3,2 Mbps    480 non-null    object
 20  3,3 Mbps    480 non-null    object
 21  3,5 Mbps    480 non-null    object
 22  4 Mbps      480 non-null    object
 23  4,5 Mbps    480 non-null    object
 24  5 Mbps      480 non-null    object
 25  6 Mbps      480 non-null    object
 26  6,4 Mbps    480 non-null    object
 27  7 Mbps      480 non-null    object
 28  7,5 Mbps    480 non-null    object
 29  8 Mbps      480 non-null    object
 30  9 Mbps      480 non-null    object
 31  10 Mbps     480 non-null    object
 32  10,6 Mbps   480 non-null    object
 33  11 Mbps     480 non-null    object
 34  12 Mbps     480 non-null    object
 35  13 Mbps     480 non-null    object
 36  14 Mbps     480 non-null    object
 37  15 Mbps     480 non-null    object
 38  16 Mbps     480 non-null    object
 39  17 Mbps     480 non-null    object
 40  18 Mbps     480 non-null    object
 41  19 Mbps     480 non-null    object
 42  20 Mbps     480 non-null    object
 43  21 Mbps     480 non-null    object
 44  22 Mbps     480 non-null    object
 45  23 Mbps     480 non-null    object
 46  24 Mbps     480 non-null    object
 47  25 Mbps     480 non-null    object
 48  25,1 Mbps   480 non-null    object
 49  25,11 Mbps  480 non-null    object
 50  25,5 Mbps   480 non-null    object
 51  26 Mbps     480 non-null    object
 52  28 Mbps     480 non-null    object
 53  29 Mbps     480 non-null    object
 54  30 Mbps     480 non-null    object
 55  31 Mbps     480 non-null    object
 56  32 Mbps     480 non-null    object
 57  34 Mbps     480 non-null    object
 58  35 Mbps     480 non-null    object
 59  36 Mbps     480 non-null    object
 60  37 Mbps     480 non-null    object
 61  38 Mbps     480 non-null    object
 62  39 Mbps     480 non-null    object
 63  40 Mbps     480 non-null    object
 64  41 Mbps     480 non-null    object
 65  45 Mbps     480 non-null    object
 66  46 Mbps     480 non-null    object
 67  47 Mbps     480 non-null    object
 68  48 Mbps     480 non-null    object
 69  49 Mbps     480 non-null    object
 70  50 Mbps     480 non-null    object
 71  51 Mbps     480 non-null    object
 72  52 Mbps     480 non-null    object
 73  54 Mbps     480 non-null    object
 74  55 Mbps     480 non-null    object
 75  56 Mbps     480 non-null    object
 76  58 Mbps     480 non-null    object
 77  59 Mbps     480 non-null    object
 78  60 Mbps     480 non-null    object
 79  61 Mbps     480 non-null    object
 80  62 Mbps     480 non-null    object
 81  63 Mbps     480 non-null    object
 82  64 Mbps     480 non-null    object
 83  65 Mbps     480 non-null    object
 84  66 Mbps     480 non-null    object
 85  67 Mbps     480 non-null    object
 86  68 Mbps     480 non-null    object
 87  70 Mbps     480 non-null    object
 88  71 Mbps     480 non-null    object
 89  75 Mbps     480 non-null    object
 90  77 Mbps     480 non-null    object
 91  78 Mbps     480 non-null    object
 92  80 Mbps     480 non-null    object
 93  81 Mbps     480 non-null    object
 94  83 Mbps     480 non-null    object
 95  82 Mbps     480 non-null    object
 96  86 Mbps     480 non-null    object
dtypes: float64(2), object(95)
memory usage: 364.6+ KB

In [796]:
internet_fijo_veloc_bajada_prov.describe()

               Año  Trimestre
count   480.000000   480.0000
mean   2019.750000     2.5000
std       1.480563     1.1192
min    2017.000000     1.0000
25%    2018.750000     1.7500
50%    2020.000000     2.5000
75%    2021.000000     3.2500
max    2022.000000     4.0000

# Accesos a Internet fijo por tecnología y localidad

In [11]:
internet_fijo_tecnologia_loc = pd.read_csv('Datasets/AccesosaInternetfijoportecnologiaylocalidad_2791751690319387778.csv')

In [6]:
internet_fijo_tecnologia_loc.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4.704,- 0,2,- 0,975,- 0,664,7.218,NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,1.282,NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN

In [7]:
internet_fijo_tecnologia_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3142 non-null   object
 1   Partido        3142 non-null   object
 2   Localidad      3142 non-null   object
 3   Link Indec     3142 non-null   object
 4   ADSL           3142 non-null   object
 5   CABLEMODEM     3142 non-null   object
 6   DIAL UP        3142 non-null   object
 7   FIBRA OPTICA   3142 non-null   object
 8   OTROS          3142 non-null   object
 9   SATELITAL      3142 non-null   object
 10  WIMAX          3142 non-null   object
 11  WIRELESS       3142 non-null   object
 12  Total general  3142 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 343.8+ KB

### Eliminamos columna

In [12]:
#Eliminamos la columna Unnamed: 13, no posee título ni información
internet_fijo_tecnologia_loc.drop(columns= ["Unnamed: 13"],inplace=True)

### Normalizamos columnas

In [13]:
# Convertimos las columnas en string y reemplazamos el punto por "" 
internet_fijo_tecnologia_loc['ADSL'] = internet_fijo_tecnologia_loc['ADSL'].astype('string')
internet_fijo_tecnologia_loc['CABLEMODEM'] = internet_fijo_tecnologia_loc['CABLEMODEM'].astype('string')
internet_fijo_tecnologia_loc['DIAL UP'] = internet_fijo_tecnologia_loc['DIAL UP'].astype('string')
internet_fijo_tecnologia_loc['FIBRA OPTICA'] = internet_fijo_tecnologia_loc['FIBRA OPTICA'].astype('string')
internet_fijo_tecnologia_loc['OTROS'] = internet_fijo_tecnologia_loc['OTROS'].astype('string')
internet_fijo_tecnologia_loc['WIMAX'] = internet_fijo_tecnologia_loc['WIMAX'].astype('string')
internet_fijo_tecnologia_loc['WIRELESS'] = internet_fijo_tecnologia_loc['WIRELESS'].astype('string')


internet_fijo_tecnologia_loc['ADSL'] = internet_fijo_tecnologia_loc['ADSL'].str.replace('.', '')
internet_fijo_tecnologia_loc['CABLEMODEM'] = internet_fijo_tecnologia_loc['CABLEMODEM'].str.replace('.', '')
internet_fijo_tecnologia_loc['DIAL UP'] = internet_fijo_tecnologia_loc['DIAL UP'].str.replace('.', '')
internet_fijo_tecnologia_loc['FIBRA OPTICA'] = internet_fijo_tecnologia_loc['FIBRA OPTICA'].str.replace('.', '')
internet_fijo_tecnologia_loc['OTROS'] = internet_fijo_tecnologia_loc['OTROS'].str.replace('.', '')
internet_fijo_tecnologia_loc['WIMAX'] = internet_fijo_tecnologia_loc['WIMAX'].str.replace('.', '')
internet_fijo_tecnologia_loc['WIRELESS'] = internet_fijo_tecnologia_loc['WIRELESS'].str.replace('.', '')

In [14]:
# reemplazamos de el valor -0 de las columnas ADSL,Cablemodem,Fibra óptica,Wireless y Otros por 0
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['ADSL'] == '- 0', 'ADSL'] = '0'
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['CABLEMODEM'] == '- 0', 'CABLEMODEM'] = '0'
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['DIAL UP'] == '- 0', 'DIAL UP'] = '0'
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['FIBRA OPTICA'] == '- 0', 'FIBRA OPTICA'] = '0'
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['OTROS'] == '- 0', 'OTROS'] = '0'
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['SATELITAL'] == '- 0', 'SATELITAL'] = '0'
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['WIMAX'] == '- 0', 'WIMAX'] = '0'
internet_fijo_tecnologia_loc.loc[internet_fijo_tecnologia_loc['WIRELESS'] == '- 0', 'WIRELESS'] = '0'

In [15]:
# convertimos las columnas  ADSL,Cablemodem,Fibra óptica,Wireless y Otros en tipo int
internet_fijo_tecnologia_loc['ADSL'] = internet_fijo_tecnologia_loc['ADSL'].astype('int')
internet_fijo_tecnologia_loc['CABLEMODEM'] = internet_fijo_tecnologia_loc['CABLEMODEM'].astype('int')
internet_fijo_tecnologia_loc['DIAL UP'] = internet_fijo_tecnologia_loc['DIAL UP'].astype('int')
internet_fijo_tecnologia_loc['FIBRA OPTICA'] = internet_fijo_tecnologia_loc['FIBRA OPTICA'].astype('int')
internet_fijo_tecnologia_loc['OTROS'] = internet_fijo_tecnologia_loc['OTROS'].astype('int')
internet_fijo_tecnologia_loc['WIMAX'] = internet_fijo_tecnologia_loc['WIMAX'].astype('int')
internet_fijo_tecnologia_loc['WIRELESS'] = internet_fijo_tecnologia_loc['WIRELESS'].astype('int')

In [16]:
internet_fijo_tecnologia_loc.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7.218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1.282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6

### Guardamos los cambios en un archivo csv

In [17]:
internet_fijo_tecnologia_loc.to_csv('Datasets_normalizados/AccesosaInternetfijoportecnologiaylocalidad_2791751690319387778.csv',index=False)